<title>Page 3</title>

<h1>Page 2!!!</h1>


{{#each buttons}}
  {{button text urlLink buttonFunc}}
{{/each}}

{{!-- <button onclick="homeButton()">HOME</button>
<button onclick="page2()">Page 2</button>
<button onclick="page3()">Page 3</button> --}}

{{#if jsScript}}
<script src="{{jsScript}}"></script>
{{/if}}