<title>Canvas Page</title>

<h1>Drawing Canvas</h1>

{{#if user}}
  <h3>Welcome, {{user.name}}! Nickname, {{user.username}}</h3>
{{else}}
  <h3></h3>
{{/if}}

<div class="buttonLinks">
  <button id="homeButton">HOME</button>
  <button id="page2Button">Canvas</button>
  <button id="page3Button">About Page</button>
</div>
<br>
<button id="clearButton">Clear</button>
<br>
<list>
  <input type="radio" class="topRadio" id="eraser">
  <label for="eraser">Eraser</label>
  <input type="radio" class="topRadio" id="paintBrush" checked="true">
  <label for="paintBrush">Paint Brush</label>
  <input type="radio" class="topRadio" id="lineBrush">
  <label for="lineBrush">Line Brush</label>
</list>
<br>


<input type="range" min="1" max="117" value="10" id="brushSize" name="brush_size">
<label for="brushSize">Brush Size: <span id="brushSizeValue">0</span></label>

{{!-- SVG canavs Container --}}
<div class="centerBodies">
  <div id="cb1"></div>
  <div class="svgContainer"></div>
  <div id="cb2"></div>
</div>


{{!-- Save SVG Button --}}
<div id="saveField">
  <input type="text" id="nameArea" maxlength="50">
  <button id="saveButton">Save SVG</button>
</div>


{{!-- Draggable Pallet Test --}}
<div style="background-color: bisque;" id="draggable">

  <header id="dragTitle">Dragger</header>
  <div class="row1">
    <button>1</button>
    <button>2</button>
    <button>3</button>
  </div>
  <div class="row2">
    <button>4</button>
    <button>5</button>
    <button>6</button>
  </div>
  <div class="row3">
    <button>7</button>
    <button>8</button>
    <button>9</button>
  </div>

</div>