<title>Canvas Page</title>

<h1>Drawing Canvas</h1>

<div class="buttonLinks">
  <button id="homeButton">HOME</button>
  <button id="page2Button">Canvas</button>
  <button id="page3Button">About Page</button>
</div>
<br>
<br>
<list>
  <input type="radio" class="topRadio" id="eraser">
  <input type="radio" class="topRadio" id="paintBrush" checked="true">
  <input type="radio" class="topRadio" id="lineBrush">
</list>
<br>


<input type="number" id="brushSize" name="brush_size" max="117" value="10">
<label for="brushSize">Brush Size</label>

{{!-- SVG canavs Container --}}
<div class="svgContainer"></div>


{{!-- Save SVG Button --}}
<div id="saveField">
  <input type="text" id="nameArea" maxlength="50">
  <button id="saveButton">Save SVG</button>
</div>


{{!-- Draggable Pallet Test --}}
<div style="background-color: bisque;" id="draggable">

  <header id="dragTitle">Drag Me!</header>
  <div class="row1">
    <button>1</button>
    <button>2</button>
    <button>3</button>
  </div>
  <div class="row2">
    <button>4</button>
    <button>5</button>
    <button>6</button>
  </div>
  <div class="row3">
    <button>7</button>
    <button>8</button>
    <button>9</button>
  </div>

</div>