<title>About Page</title>

<h1>About Page!!!</h1>

    <div class="buttonLinks">
        <button id="homeButton">HOME</button>
        <button id="page2Button">Canvas</button>
        <button id="page3Button">About Page</button>
    </div>
