body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
}

#nameArea {
  width: 55ch;
}

#brushSize {
  width: auto;
  cursor: pointer;
  /* background: URL HERE; */
}

.buttonLinks {
  display: flex;
  margin: 3rem;
}

#dragTitle {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  background-color: rgb(82, 82, 126);
  user-select: none;
}

#dragTitle:active {
  cursor: grabbing;
}

#draggable button {
  user-select: none;
}

#draggable {
  height: auto;
  width: auto;
  top: 15%;
  left: 15%;
  position:absolute;

  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  user-select: none;
}

.svgContainer {
  width: auto;
  height: auto;
}

/* #svgCanvas {
  width: 100%;
  height: 100%;
} */