<title>Page 3</title>

<h1>Page 3!!!</h1>

<button onclick="homeButton()">HOME</button>
<button onclick="page2()">Page 2</button>
<button onclick="page3()">Page 3</button>
{{button text urlLink buttonFunc}}


{{#if jsScript}}
<script src="{{jsScript}}"></script>
{{/if}}