<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#if titleName}}<title>{{titleName}}</title>{{else}}<title>Title TBD</title>{{/if}}
</head>
<body>
  {{{body}}}
</body>
</html>